behaviors:
  CarAgent:
    trainer_type: ppo
    hyperparameters:
      batch_size: 128
      buffer_size: 2000
      learning_rate: 3.0e-4
      beta: 5.0e-4
      epsilon: 0.2
      lambd: 0.99
      num_epoch: 3
      learning_rate_schedule: linear
      beta_schedule: constant
      epsilon_schedule: linear
    network_settings:
      normalize: false
      hidden_units: 128
      num_layers: 2
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 0.5
      gail:
        gamma: 0.99
        strength: 0.9
        demo_path: Assets/Demonstrations/FirstDemo.demo
    behavioral_cloning:
        demo_path: Assets/Demonstrations/FirstDemo.demo
        strength: 0.9
    max_steps: 1000000
    time_horizon: 64
    summary_freq: 10000